@import 'tailwindcss';

.bg-grid {
  background-image:
    linear-gradient(to right, #eef0f4 1px, transparent 1px),
    linear-gradient(to bottom, #eef0f4 1px, transparent 1px);
  background-size: 15px 15px;
}

@media (prefers-color-scheme: dark) {
  .bg-grid {
    background-image:
      linear-gradient(to right, #1b1b1b 1px, transparent 1px),
      linear-gradient(to bottom, #1b1b1b 1px, transparent 1px);
  }
  input[type='date']::-webkit-calendar-picker-indicator {
    filter: invert(1) brightness(1.5);
  }
}
